*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#head{
    text-align: center;
    color: blue;
    background-color: yellow;
    margin: 5px;
    padding: 10px;
    border: 2px solid darkgoldenrod;
    border-radius: 20px;
}

#paragraph{
    text-align: justify;
    color: yellow;
    background-color: green;
    border: 2px solid darkgreen;
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
}